
* {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

footer {
    background-color: rgb(36, 55, 87);
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
}

#logo {
  width: auto;
  height: clamp(80px, 16vw, 160px);
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

header {
  background-color: rgb(203, 223, 230);
  color: black;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#arrow-down {
  width: auto;
  height: clamp(24px, 8vw, 100px);
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
  position: relative
}

body {
  margin: 0;
  background-color: rgb(242, 252, 255);
}

main {
  padding-left: 1%;
  padding-right: 1%;
}
  
#more-button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 27px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 1024px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
       
#login-icon {
  width: auto;
  height: clamp(60px, 16vw, 120px);

}

#login-button {
  position: absolute;
  right: 1%;
  border: none;
  background-color: transparent;
  border-radius: 1024px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

#login-text {
  font-size: clamp(10px, 2vw, 32px);
}