
.google-sans-normal> {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

footer {
    background-color: rgb(36, 55, 87);
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
}