#text-se-connecter {
    margin-top: 5%;
    font-size: clamp(64px, 8vw, 128px);
    text-align: center;
    display: block;
}

#inputs-div {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

.text-inputs {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: clamp(20px, 4vw, 32px);
}

#register-button {
  margin-top: 32px;
  border-radius: 1024px;
  cursor: pointer;
  border: none;
  background-color: #04AA6D;
  font-size: clamp(50px, 6vw, 64px);
  width: 100%;
  align-self: center;
}

.inputs {
    font-size: clamp(20px, 4vw, 32px);
}

#switch-to-connect {
    margin-top: 25px;
    text-align: center;
}

.red {
  color: red;
}