.sidebyside{
        display: flex;
        align-items: center;
        }


.sidebyside img{
           
        max-width: 150px;
        margin-right: 10px;
        max-height: 150px;
} 
.image-with-price{
  text-align: justify;
  width: 50px;
}
.image-with-price img{
  display: block;
  margin: 0 auto;
}